
*.bin
bin/*
.idea/*
buildedJars/**
**.class
.gradle/**
common/gradle.properties
common/.gradle/**
common/bin/**
common/build/*
common/gradle/*
common/.classpath
common/.project
gradle/*
gradle/wrapper/*
.classpath
.project
rest_aop_helper/gradle.properties
rest_aop_helper/.gradle/*
rest_aop_helper/bin/*
rest_aop_helper/build/*
rest_aop_helper/gradle/*
rest_aop_helper/.classpath
rest_aop_helper/.project
gradle.properties
secring.gpg
gradle/wrapper/gradle-wrapper.properties

.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock